<header class="app-header">
  <div class="header-content">
    <span class="header-prefix">psychology</span>
    <h1 class="header-title">Système Expert Nutritionnel</h1>
    <p class="header-subtitle">Analyse intelligente et recommandations personnalisées pour l'amélioration nutritionnelle
    </p>
  </div>
  <nav class="main-nav">
    <a routerLink="/diagnostic" routerLinkActive="active-link" aria-current="page">Diagnostic</a>
    <a routerLink="/history" routerLinkActive="active-link">Historique</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>